@import './assets/reset.min.css';
html,body {
  height: 100%;
  background: #eee;
}

#root {
  min-height: 100%;
  background: #FFF;
  margin: 0 auto;
}

.box {
  width: 328px;
  height: 164px;
  line-height: 164px;
  background: lightblue;
}

.adm-toast-main {
  max-width: 240px !important;
  font-size: 28px !important;

  .adm-toast-icon {
    font-size: 40px !important;
  }
}

.adm-button-loading-wrapper {
  .adm-dot-loading {
    position: static;
    transform: none;
    font-size: 30px;
  }
}
